@font-face {
    font-family: roboto;
    src: url(../media/Roboto-Regular.ttf);
}
@font-face {
    font-family: marianne;
    src: url(../media/Marianne-Regular.otf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: no-repeat center center fixed url(../media/gradient2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;



    div {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        top: 0;
        left: 0;
        background: rgba(196, 196, 196, 0.043);
        box-shadow: inset 39.5667px -39.5667px 39.5667px rgba(149, 149, 149, 0.043),
            inset -39.5667px 39.5667px 39.5667px rgba(255, 255, 255, 0.043);
        backdrop-filter: blur(21.366px);
    }

    section {
        display: flex;
        flex-direction: column;
        height: 93.8vh;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            font-family: roboto;
            font-size: 4rem;
            margin: 0;
            margin-bottom: 3rem;
            text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.21),
                0px 41.7776px 33.4221px rgba(0, 0, 0, 0.150959),
                0px 22.3363px 17.869px rgba(0, 0, 0, 0.125183),
                0px 12.5216px 10.0172px rgba(0, 0, 0, 0.105),
                0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0848175),
                0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0590406);

        }

        input {
            font-family: roboto;
            font-size: 2.25rem;
            text-align: center;
            height: 3.75rem;
            width: 15rem;
            margin-bottom: 3rem;
            border-radius: 5px;
            border: none;

            &::placeholder {
                color: #c1c1c1;
            }
        }

        button {
            background: #333333;
            color: white;
            font-family: roboto;
            font-size: 2.25rem;
            height: 3.75rem;
            width: 15rem;
            border-radius: 5px;
            border: none;
        }
    }

    footer {
        height: 6.2vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        background: #333333;
        color: white;
        align-items: center;

        img {
            height: 66%;
            margin-left: 1%;
        }

        h3 {
            margin-right: 1%;
            font-family: marianne;
        }
    }
}

@media (min-width: 1024px) {
    body {
        background: no-repeat center center fixed url(../media/gradient_desktop.png);
        background-size: cover;
    }
}